---
zsystem:
  hosts:
    {{ inventory_hostname_short }}:
      ansible_host: {{ target_host }}
      ansible_user: {{ target_user }}
      ansible_python_interpreter: "{{ python_interpreter }}"
      ansible_ssh_pass: {{ target_pwd }}
